@charset "UTF-8";
/* APLICA A TODAS LAS PAGINAS */
* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth; }

/* APLICA A TODAS LAS PAGINAS */
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #313030, #000000);
  color: white;
  height: 50px;
  padding: 1em; }

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.menu > li {
  margin: 0 1rem;
  overflow: hidden; }

.boton_logo {
  color: white;
  font-size: 160%; }

.botones_header {
  color: white;
  font-size: 150%; }
  .botones_header:hover {
    background-image: linear-gradient(to left, #2c2929, black); }

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#menu-toggle {
  display: none; }

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px; }

.menu-button::before {
  content: '';
  margin-top: -8px; }

.menu-button::after {
  content: '';
  margin-top: 8px; }

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg); }

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0); }

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg); }

body {
  margin: 0;
  height: 100%;
  background-color: #313030;
  width: 100%;
  height: 100%; }

/* COMIENZA BODY INDEX */
.cuerpo {
  position: relative;
  min-height: 80vh; }

.cuerpo::before {
  content: "«";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../images/Salon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  opacity: 0.50;
  background-color: rgba(231, 229, 229, 0.8); }

.reserva {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center; }

#reserva_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white; }

.redes {
  display: flex;
  align-items: center;
  justify-content: center; }

.caja_redes_whatsapp {
  margin-left: 50px;
  margin-right: 40px;
  padding-left: 30px;
  transition: all 0.5s ease-in; }

.caja_redes_instagram {
  margin-left: 1px;
  margin-right: 1px;
  transition: all 0.5s ease-in; }

.fa-brands {
  color: white; }

.caja_redes_facebook {
  margin-left: 40px;
  margin-right: 50px;
  padding-right: 30px;
  transition: all 0.2s ease-in; }

.caja_redes_facebook:hover {
  transform: scale(1.2); }

.caja_redes_whatsapp:hover {
  transform: scale(1.2); }

.caja_redes_instagram:hover {
  transform: scale(1.2); }

#telefono_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-top: 4.2%;
  color: white; }

#telefono_index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white; }

/* TERMINA BODY INDEX */
/* COMIENZA BODY SERVICIOS */
.grilla_servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 5%);
  min-height: 50vh;
  position: relative;
  align-items: center;
  min-height: 80vh; }

.grilla_servicios::before {
  content: "«";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../images/Salon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  opacity: 0.50; }

.tituloservicios {
  text-align: center;
  color: white;
  margin-top: 100px;
  font-size: 180%; }

#servtabla {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

li {
  color: #2c3e50;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
  color: white; }

.listatitulo {
  list-style-type: none;
  font-size: larger;
  font-weight: bold;
  color: white; }

/*SG = style grid*/
.SG {
  margin: 0;
  padding: 0;
  text-align: center; }

.SG .sgLi {
  min-width: 24%;
  margin: 2% .35%;
  display: inline-flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.SG .sgLi:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }

.SG .box {
  width: 100%;
  height: 100vh;
  padding: 1% 2%;
  background: #313030;
  min-height: 200px;
  max-height: 220px;
  box-sizing: border-box; }

.s18 li:before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 15px;
  display: inline-block;
  background: url(//goo.gl/lcPSVD);
  background-position: 50%; }

.s19 {
  list-style: none; }

.s19 li:before {
  content: '\f0a9';
  margin-right: 15px; }

/* TERMINA BODY SERVICIOS */
/* COMIENZA BODY GALERIA */
.main_galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 5%);
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 80vh; }

.main_galeria::before {
  content: "«";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../images/Salon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  opacity: 0.50; }

.titulo_galeria {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: x-large;
  margin-top: 60px;
  color: white;
  font-size: 180%; }

.imagenes_galeria {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.imggaleria {
  max-width: 25%;
  max-height: 25%;
  object-fit: cover;
  transition: all 0.5s ease-in; }

.imggaleria:hover {
  transform: scale(1.05); }

/* TERMINA BODY GALERIA */
/* COMIENZA BODY HISTORIA */
.main_historia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 5%);
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 80vh; }

.main_historia::before {
  content: "«";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../images/Salon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  opacity: 0.50; }

.titulo_historia {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 80px;
  color: white;
  font-size: 180%; }

.boxes_historia {
  display: flex;
  justify-self: center;
  align-self: center; }

.boxhistoria {
  width: 300px;
  border: groove 5px #363434;
  padding: 20px;
  margin: 1px;
  background-color: #313030; }

.texto_historia {
  display: flex;
  justify-self: center;
  align-self: center;
  color: white; }

/* TERMINA BODY HISTORIA */
/* COMIENZA BODY CONTACTO */
.main_contacto {
  position: relative;
  min-height: 80vh; }

.main_contacto::before {
  content: "«";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../images/Salon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  opacity: 0.50; }

.contactenos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 5%);
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  color: white; }

.titulo_contactenos {
  font-size: x-large;
  justify-self: center;
  align-self: center;
  margin-top: 100px;
  color: white;
  font-size: 170%; }

#caja_contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 5%);
  justify-items: center;
  align-items: center; }

#textarea {
  border: 1px solid black;
  width: 25rem;
  height: 6rem;
  padding: 0.1rem;
  margin: 0px 0px 5px 0px;
  resize: none; }

/* TERMINA BODY CONTACTO */
/* COMIENZA FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  background-color: #313030; }

.footer_texto {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 110%;
  font-weight: bold; }

#footer_historia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313030; }

.footer_contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313030; }

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .menu-button-container {
    display: flex; }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1000; }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222; }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444; }
  .cuerpo {
    position: relative;
    min-height: 1px; }
  .cuerpo::before {
    content: "«";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/Salon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    opacity: 0.50; }
  .reserva {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: left; }
  #reserva_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-left: 50px; }
  .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0; }
  .caja_redes_facebook {
    margin: 10px;
    padding: 0; }
  .caja_redes_instagram {
    margin: 10px;
    padding: 0; }
  .caja_redes_whatsapp {
    margin: 10px;
    margin-left: 48px;
    padding: 0; }
  #telefono_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-top: 5%;
    margin-left: 100px; }
  #telefono_index {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-top: 1px;
    margin-left: 85px; }
  /* MEDIA TERMINA BODY INDEX */
  /* MEDIA EMPIEZA SERVICIOS */
  .SG .sgLi {
    width: 100%; }
  /* MEDIA TERMINA SERVICIOS */
  /* MEDIA EMPIEZA GALERÍA */
  .imagenes_galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .imggaleria {
    max-width: 50%;
    max-height: 50%; }
  /* MEDIA TERMINA GALERÍA */
  /* MEDIA EMPIEZA HISTORIA */
  .boxes_historia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center; }
  /* MEDIA TERMINA HISTORIA */
  /* MEDIA EMPIEZA CONTACTO */
  .titulo_historia {
    margin-top: 80px; }
  #textarea {
    width: 18rem;
    height: 6rem;
    padding: 0.1rem;
    margin: 0px 0px 5px 0px; }
  /* MEDIA TERMINA CONTACTO */ }
